@font-face {
  font-family: 'LeagueSpartan';
  src: url('./fonts/LeagueSpartan-VariableFont_wght.ttf/RobotoSlap.ttf') format('truetype');
  font-family: LeagueSpartan, sans-serif;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-family: DM Sans, sans-serif;
}

:root {
  --color-base: #D9C9B9;
  --color-primary: #27210D;
  --color-secondary: #4A4B33;
  --color-icon: #475019;
  --color-title: #4A588A;
  --color-text: #1E190A;
  --color-link: #031A6B;

  --font-headers: 'LeagueSpartan', sans-serif;
  --font-paras: 'DM Sans', sans-serif;
}

header {
  padding: 1rem;
  position: relative;

  label {
    cursor: pointer;
    height: 1.25rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
    width: 1.625rem;
    z-index: 1001;

    span {
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;

      transform-origin: left;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 0.5rem;
      }

      &:nth-child(3) {
        top: 1rem;
      }
    }
  }
}

nav {
  background: var(--color-secondary);
  height: 100vh;
  width: 15rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 2rem;

    li {
      margin-bottom: 1rem;

      a {
        color: var(--color-base);
        font-family: var(--font-paras);
        text-decoration: none;
      }
    }

    li:first-child {
      color: var(--color-base);
      font-family: var(--font-headers);
      font-weight: bold;
      font-size: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  position: fixed;
  left: -300px;
  top: 0;
  z-index: 1000;
}

.nav-toggle-label span {
  background-color: var(--color-secondary);
}

/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
  left: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  background-color: var(--color-base);
  transform: rotate(45deg);
  top: -2px; /* Fix */
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  background-color: var(--color-base);
  transform: rotate(-45deg);
}
