@font-face {
  font-family: 'LeagueSpartan';
  src: url('./fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-family: LeagueSpartan, sans-serif;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-family: DM Sans, sans-serif;
}

:root {
  --color-base: #D9C9B9;
  --color-primary: #27210D;
  --color-secondary: #4A4B33;
  --color-icon: #475019;
  --color-title: #4A588A;
  --color-text: #1E190A;
  --color-link: #031A6B;
  --color-white: #E8E8E8;

  --font-headers: 'LeagueSpartan', sans-serif;
  --font-paras: 'DM Sans', sans-serif;

  --font-30: 1.875rem;
  --font-32: 2rem;
  --font-40: 2.5rem;
  --font-24: 1.5rem;
  --font-20: 1.25rem;
  --font-75: 4.6875rem;
}

* {
  box-sizing: border-box;
}


/************ Header ************/
/* Kebab Menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1000;
  margin-left: 0.25rem;

  label {
    cursor: pointer;
    flex-direction: column;
    height: 1.625rem;
    width: 1.25rem;
    z-index: 1001;
    position: inherit;
    margin-left: 0;

    span {
      border-radius: 50%;
      display: block;
      height: 0.4rem;
      position: absolute;
      width: 0.4rem;

      transition: transform 0.3s, opacity 0.3s;
      transform-origin: center;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 0.6rem;
      }

      &:nth-child(3) {
        top: 1.2rem;
      }
    }
  }
}

nav {
  background: var(--color-secondary);
  height: 100vh;
  width: 15rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 2rem;

    li {
      margin-bottom: 1rem;

      a {
        color: var(--color-base);
        font-family: var(--font-paras);
        text-decoration: none;
      }
    }

    li:first-child {
      color: var(--color-base);
      font-family: var(--font-headers);
      font-weight: bold;
      font-size: 1.5rem;
      margin-top: 6rem;
      margin-bottom: 3rem;
    }
  }

  position: fixed;
  left: -300px;
  top: 0;
  z-index: 1000;
}


.nav-toggle-label span {
  background-color: var(--color-secondary);
  border-radius: 50%;
}

.nav-toggle:checked~nav {
  background-color: var(--color-secondary);
  left: 0;
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(1) {
  background-color: var(--color-base);
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(2) {
  background-color: var(--color-base);
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(3) {
  background-color: var(--color-base);
}


/* Icon */
.logo {
  color: var(--color-icon);
  font-family: var(--font-headers);
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1rem;
  text-align: right;
}

/************ Content ************/

body {
  background-color: var(--color-base);
}

.home-title {
  color: var(--color-title);
  line-height: 1;
  font-family: var(--font-headers);
  font-size: 6.25rem;
  margin: 0;
  text-transform: uppercase;
  text-align: left;

  span {
    text-align: right;
  }
}

img {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subtitle {
  color: var(--color-text);

  font-family: var(--font-paras);
  font-size: var(--font-24);
  font-style: italic;
  font-weight: thin;
  /* Fix */

  margin-bottom: 5rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;

  span {
    color: var(--color-title);
    font-size: var(--font-30);
  }
}

.page-title {
  color: var(--color-title);
  font-family: var(--font-headers);
  font-size: var(--font-75);
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.resume-subtitle {
  color: var(--color-title);
  font-family: var(--font-headers);
  font-size: var(--font-30);
}

.text-block {
  background-color: var(--color-secondary);
  padding: 1rem;

  margin: 0;
}

.text-block-curved {
  background-color: var(--color-secondary);

  margin: 0.25rem;
  border-radius: 25px;
  padding: 1rem;

  .resume-subtitle-white {
    color: var(--color-white);
    font-family: var(--font-headers);
    font-size: var(--font-30);
  }

  p {
    color: var(--color-white);
    font-family: var(--font-paras);
    font-size: var(--font-24);
  }

  p.text-chunk {
    margin: 1rem 0 3rem 0;
    line-height: 2rem;
    word-spacing: .2rem;
    text-align: justify;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  i:first-child {
    margin-top: 1rem;
  }

  i:last-child {
    margin-bottom: 0;
  }

  .contact-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-24);
    font-family: var(--font-paras);
    text-align: left;
    cursor: pointer;
    color: var(--color-base);
    display: flex;
    align-items: center;
  }

  .contact-btn a {
    color: var(--font-base);
    font-family: var(--font-paras);
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
  }

  .contact-btn i {
    margin-right: 1rem;
    font-size: var(--font-24);
  }

}

.resume-block {
  padding: 1rem;
  margin: 0;

  p {
    color: var(--color-text);
    font-family: var(--font-paras);
    font-size: var(--font-24);
  }
}

.page-buttons {
  list-style: none;
  margin: 5rem 0 0 0;
  padding: 0;
}

.page-buttons li {
  margin-right: 1rem;
}

.button-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: var(--font-headers);
  font-size: var(--font-30);
  font-weight: bold;
  color: var(--color-text);
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  text-decoration: none;
}

.button-item {
  font-weight: bold;
  margin-bottom: 1rem;
}

.button-item {
  font-size: var(--font-30);
  color: var(--color-text);
  transition: transform 0.2s ease;
}

.picture-block {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  width: 100vw;
}

.cover-image {
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.break {
  display: block;
}